/* .sidebar-open {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar-closed {
  width: 0;
  transition: width 0.3s ease;
} */

.btn-link{
    font-size:.9rem;
    font-weight: 900;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  transition: transform 0.3s ease;
  z-index: 3;
}

.sidenav{
  /* background-color: rgb(158, 198, 238); */
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-closed {
  transform: translateX(-100%);
}


.sidebar {
  width: 300px;
}

.list-group-item.active {
  background-color: #369;
  color: white;
  border-color: #369;
}

@media (min-width: 400px) {
  /* .sidenav-toggler-inner {
      display:contents!important;
      padding-right: .5rem!important;
        padding-left: .5rem!important;
  } */
}

.list-group-item.active{
  background-color: #369!important;
  border-color: #369!important;
}
.list-group-item.active a{
  color: #FFF;
  font: 500;
  font-weight: 500;
}
a:hover{
  color: #369;
}
.btn-link{
  color: #369;
}
.list-group{
  border-color: #369;
  border-width: 30px;
}
.list-group-item{
  box-shadow: #FFF;
}

.sec_ul{
  width: 200px;
  margin-left: 0;
}
aside{
  /* background: linear-gradient(to bottom, rgb(235, 227, 203) 0%, #fc3 100%); */
}
ul li{
  /* background: linear-gradient(to bottom, rgb(235, 227, 203) 0%, #fc3 100%); */
}
ul li ul li{
  background: transparent;
  border: 2px;
  border-color: #369;
}





