<div class="vh-100 main">
  <app-admin-sidebar></app-admin-sidebar>
  <app-navbar></app-navbar>
  <div class="vw-90">
    <table id="employeeList" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Staff-ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Division</th>
          <th>Department</th>
          <th>Team</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.staff_ID }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.division }}</td>
          <td>{{ employee.department }}</td>
          <td>{{ employee.team }}</td>
          <td>
            <button class="btn" (click)="updateEmployee(employee.id)"><mat-icon>update</mat-icon></button>
            <button class="btn" (click)="deleteEmployee(employee.id)"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

 </div>

