<div class="wrapper row2">
    <div class="head">
      <span class="logo">Cheatography</span>
      <nav id="mainav" class="hoc clear">
        <ul class="clear">
          <li class="active"><a href="/home">Home</a></li>
          <li><a class="drop" href="#">CSMIS</a>
            <ul>
              <li><a class="drop" href="#">Employee</a>
                <ul>
                  <li><a routerLink="excel/import/employee">Import Employee</a></li>
                  <li><a routerLink="excel/register/employee">Add New Employee</a></li>
                  <li><a routerLink="employee/list">Employees</a></li>
                </ul>
              </li>
              <li><a class="drop" href="#">User</a>
                <ul>
                  <li><a class="" routerLink="excel/import/user">Import User</a>
                  </li>
                  <li><a routerLink="excel/register/employee">User Register</a></li>
                </ul>
              </li>
              <li><a class="" href="#">Popular CheatSheets</a></li>
              <li><a class="drop" href="#">CheatSheets by</a>
                <ul>
                  <li><a href="#">Tag</a></li>
                  <li><a href="#">Language</a></li>
                </ul>
              </li>
              <li><a href="pages/basic-grid.html">CheatSheets Links</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Create</a>
            <ul>
              <li><a href="#">Getting Started</a></li>
              <li><a class="" href="#">Create a New CheatSheet</a>
              </li>
              <li><a href="#">Upload a CheatSheet</a></li>
              <li><a href="#">Link to a CheatSheet</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Community</a>
            <ul>
              <li><a href="#">Community</a></li>
              <li><a class="" href="#">Badges</a></li>
              <hr>
              <li><a href="#">Friends</a></li>
              <hr>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Pinterest</a></li>
              <li><a href="#">Instagram</a></li>
            </ul>
          </li>
          <li><a href="#">Help</a></li>
          <li><a class="drop" href="#">Excel</a>
            <ul>
              <li><a routerLink="excel/import/employee">Import Employee</a></li>
              <li><a class="" routerLink="excel/import/user">Import User</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="d-flex mx-auto mt-3">
        <nav *ngIf="loggedInUser; else loginTemplate">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle user"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa fa-user-circle"></i> {{ loggedInUser.uname }}
              </a>


              <ul class="dropdown-menu user_dropdown" *ngIf="loggedInUser.role === 'User'">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="AddCheatsheet">Create CheatSheet</a></li>
                <li><a class="dropdown-item" href="CheatsheetUser">Drafts CheatSheet</a></li>
                <li><a class="dropdown-item" href="/Logout"><button class="btn" (click)="logout()">Logout</button></a></li>
              </ul>


              <ul class="dropdown-menu user_dropdown" *ngIf="loggedInUser.role === 'Admin'">
                <li><a class="dropdown-item" href="SectionList">Section</a></li>
                <li><a class="dropdown-item" href="SubSectionList">SubSection</a></li>
                <li><a class="dropdown-item" href="ColumnList">Columns</a></li>
                <li><a class="dropdown-item" href="TypeList">Type</a></li>
                <li><a class="dropdown-item" href="TagList">Tag</a></li>
                <li><a class="dropdown-item" href="CheatsheetList">CheatSheets</a></li>
                <li><a class="dropdown-item" href="StyleList">Styles</a></li>
                <li><a class="dropdown-item" href="/SpringMavenCheatSheet/User">Users</a></li>
                <li><a class="dropdown-item" href="/Logout"><button class="btn" (click)="logout()">Logout</button></a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <ng-template #loginTemplate>
          <div class="d-flex flex-row">
            <a routerLink="user/login"><button class="btn" type="button">LOGIN</button></a>
            <p class="mt-2">OR</p>
            <a routerLink="/user/add"><button class="btn" type="button">REGISTER</button></a>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>

<!-- <div *ngIf="!LoggedInUser">
  <p>User not logged in</p>
</div>
<p *ngIf="LoggedInUser">{{ LoggedInUser.role }}</p> -->

