/* body * {
  font-size: 100%;
  text-align: left;
}
.user {
	font-style: italic;
	font-weight: 150;
}
#header {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #222;
  -moz-box-shadow: 0 0 2px #666;
  -webkit-box-shadow: 0 0 2px #666;
  box-shadow: 0 0 2px #666;
}
  #header #header_inner {
    text-align: left;
    margin: 0 auto;
    padding: 0;
    width: 94%;
    max-width: 1200px;
}
#topbar {
  padding: 0;
  margin: 0;
  text-align: center;
}
#topbar .inner {
  padding: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  color: #ccc;
  position: relative;
}
#topbar .inner a.logolink, #topbar .inner a.logolink:active, #topbar .inner a.logolink:focus, #topbar .inner a.logolink:visited {
  flex: 0 0 auto;
  border: 0;
  text-decoration: none;
  float: left;
  vertical-align: middle;
  display: block;
  width: 156px;
  line-height: 40px;
  margin-right: 80px;
  background: 0 0;
}
#topbar .inner #q {
  padding: 10px;
  flex: 1 0 8em;
  padding: 10px;
  font-size: 1.2em;
  vertical-align: middle;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: none;
  height: auto;
}
#topbar .inner a.social_link, #topbar .inner button {
  vertical-align: middle;
  white-space: nowrap;
  flex: 0 0 auto;
  font-size: 1.5em;
  line-height: 40px;
  width: 40px;
  background: #444;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: #ccc;
  padding: 0;
}
#topbar .inner button {
  margin-left: 3px;
  margin-right: 80px;
  font-weight: 400;
  text-shadow: none;
}
#header i.fa {
  color: #ccc;
} */
