

<div class="change-password-wrapper">
    <div class="change-password-container">
      <div class="change-password-left">
        <h3>Change Password</h3>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
          <div class="input-group">
            <fa-icon [icon]="faLock" class="icon"></fa-icon>
            <input type="password" id="currentPassword" formControlName="currentPassword" placeholder="Current Password" required />
            <div *ngIf="currentPassword?.invalid && currentPassword?.touched" class="error">
              <small *ngIf="currentPassword?.hasError('required')">Current Password is required.</small>
            </div>
          </div>
        
          <div class="input-group">
            <fa-icon [icon]="faLock" class="icon"></fa-icon>
            <input type="password" id="newPassword" formControlName="newPassword" placeholder="New Password" required />
            <div *ngIf="newPassword?.invalid && newPassword?.touched" class="error">
              <small *ngIf="newPassword?.hasError('required')">New Password is required.</small>
              <small *ngIf="newPassword?.hasError('minlength')">Password must be at least 6 characters long.</small>
            </div>
          </div>
        
          <div class="input-group">
            <fa-icon [icon]="faLock" class="icon"></fa-icon>
            <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Confirm New Password" required />
            <div *ngIf="confirmNewPassword?.invalid && confirmNewPassword?.touched" class="error">
              <small *ngIf="confirmNewPassword?.hasError('required')">Please confirm your new password.</small>
              <small *ngIf="passwordsDoNotMatch">Passwords do not match.</small>
            </div>
          </div>
        
          <button type="submit" class="change-password-button" [disabled]="changePasswordForm.invalid || passwordsDoNotMatch">Change Password</button>
          <div *ngIf="message" class="message">{{ message }}</div>
        </form>
        
      </div>
      </div>
      </div>